* {
    box-sizing: border-box;
}
body {
    background-color: bisque;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:visited {
    /* text-decoration: none; */
    color: inherit;
}

.app-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    padding:2rem;
    background-image: url("../assets/check.png");
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: bisque;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.cohort-name {
   font-family: 'Major Mono Display', monospace;
}

p, h4 {
    margin:0.5em 0;
}
.week-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-article, .week-section {
    margin: 1em 0;
}

.project-article {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
  
}
.week-header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.week-h2 {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
}
.project-description {
    font-style: italic;
    flex-grow:1;
}
.project-image {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.project-image-container {
    height: calc( calc(100vw - 2em) * 0.66);
}


.project-image-empty {
    background-color: grey;
}


@media (min-width:600px){
    
    .project-article {
        width: 300px;
        margin: 1em 0.5em;
    }
    
    .project-image-container {
        max-width: 280px;
        max-height: 195px;
    }

}